@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 250, 250, 250;
  --background-end-rgb: 246, 224, 189;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 80, 80, 80;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
   
   
  }
}
.grid-rows-layout {
  grid-template-rows: auto 1fr auto;
}

.row-content {
  overflow-y: auto; /* This allows scrolling if content exceeds viewport */
}

.navbar{

  background-color: whitesmoke;
}


